<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Header templating fragment</title>
</head>
<body>

<section th:fragment="header(title)">
    <nav class="navbar navbar-expand bg-body-tertiary border-bottom mb-4">
        <div class="container">
            <a class="navbar-brand" href="/home" th:text="#{application.name}">Endomondo Export Parser</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home"><span th:text="#{title.home}">Home view</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upload"><span th:text="#{title.upload}">Upload view</span></a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="?lang=en"><span th:text="#{language.en}">English</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?lang=pl"><span th:text="#{language.pl}">Polski</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h2 class="mb-4" th:text="${title}"/>
    </div>
</section>

</body>
</html>
