<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title th:text="Header templating fragment"/>
</head>
<body>

<section class="my-5" th:fragment="header(title)">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">

                <h2 th:text="${title}"/>

                <div class="header-panel my-3">
                    <a href="/home/"><span th:text="#{title.home}"/></a>
                    |
                    <a href="/upload/"><span th:text="#{title.upload}"/></a>
                    |
                    <a href="?lang=en"><span th:text="#{language.en}"/></a>
                    |
                    <a href="?lang=pl"><span th:text="#{language.pl}"/></a>
                </div>

            </div>
        </div>
    </div>
</section>

</body>
</html>