<span xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="strava-status">

    <th:block th:if="${stravaConnected}">
        <a class="btn btn-sm btn-outline-secondary" th:href="@{/strava/connect}"
           th:text="#{strava.reconnect}" th:title="#{strava.reconnect.tooltip}">Reconnect</a>
        <span class="badge text-bg-success ms-2" th:text="#{strava.connected}"
              th:title="#{strava.connected.tooltip}">Connected to Strava</span>
    </th:block>

    <th:block th:unless="${stravaConnected}">
        <a class="btn btn-sm btn-outline-primary" th:href="@{/strava/connect}" th:text="#{strava.connect}"
           th:title="#{strava.connect.tooltip}">Connect to Strava</a>
        <span class="badge text-bg-secondary ms-2" th:text="#{strava.notConnected}">Not connected to Strava</span>
    </th:block>

</span>
