<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head(#{title.error})}"></head>
<body>

<div th:replace="~{fragments/header :: header(#{title.error})}"/>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">

                <div th:if="${requestUrl ne null}" th:text="${requestUrl}" class="alert alert-primary"/>

                <div th:if="${exception ne null}" th:text="${exception}" class="alert alert-danger"/>

                <div th:if="${exception ne null && exception.stackTrace ne null}" class="alert alert-danger">
                    <div th:each="stackTraceLine: ${exception.stackTrace}" th:text="${stackTraceLine}"/>
                </div>

            </div>
        </div>
    </div>
</section>

<div th:replace="~{fragments/footer :: footer}"/>

</body>
</html>