<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title th:text="#{title.home}"/>
</head>
<body>

<div th:replace="fragments/header :: header(#{title.home})"/>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">

                <span th:text="#{home.welcome}"/>

            </div>
        </div>
    </div>
</section>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>