<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head(#{title.home})}"></head>
<body>

<div th:replace="~{fragments/header :: header(#{title.home})}"/>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">

                <span th:text="#{home.welcome}"/>

                <div th:if="${athlete != null}" class="d-flex align-items-center gap-3 mt-3">
                    <img th:if="${athlete.profilePictureUrl != null}" th:src="${athlete.profilePictureUrl}"
                         alt="" style="width:48px;height:48px;border-radius:50%">
                    <span th:text="#{home.athleteGreeting(${athlete.firstname}) }">Hello, Name!</span>
                </div>

            </div>
        </div>
    </div>
</section>

<div th:replace="~{fragments/footer :: footer}"/>

</body>
</html>