<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title th:text="#{title.upload}"/>
</head>
<body>

<div th:replace="fragments/header :: header(#{title.upload})"/>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">

                <span th:replace="fragments/messages-errors"/>

                <form action="#" th:action="@{/upload/process}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="file" th:text="#{form.upload.file.label}">File to upload:</label>
                        <input type="file" name="file" id="file" class="form-control-file"/>
                    </div>
                    <button type="submit" class="btn btn-primary" th:text="#{form.upload.submit}">Submit</button>
                </form>

            </div>
        </div>
    </div>
</section>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>